.recommd-tool {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .recommd-tool {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}